<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contacts">CONTACTS</a></li>
        </ul>
    </nav>
    <h1>Hello world</h1>
    <h2>Log in</h2>
    <p>Welcome {{name}}!</p>
    <p>We know you are the {{role}}</p>
    {{#if bootcamp}}
    <p>Are you part of the {{{bootcamp}}} team?</p>
    {{else}}
    {{#unless isPaid}}
    <p>Did you pay, {{name}}??? 😅</p>
    {{/unless}}
    {{/if}}
    <ul>
        {{#each favouriteFood}}
        <li id="pokemon{{@index}}">{{@key}}: {{this.name}}</li>
        <p>{{this.url}}</p>
        {{/each}}
    </ul>
    <form action="">
        <label for="">Name</label>
        <input type="text">
        <label for="">Email</label>
        <input type="email">
        <label for="">Password</label>
        <input type="password">
    </form>
    <a href="/about">Go to the about</a>
</body>

</html>